# Web Framework
fastapi==0.115.5
uvicorn[standard]==0.32.1

# Environment
python-dotenv==1.0.1

# AI / LangGraph
langgraph==0.2.59
langchain-openai==0.2.14
langchain-core==0.3.29


# Testing
pytest==8.3.4
pytest-asyncio==0.24.0
